<ion-content (click)="showNextSentence($event)">
  <div story (click)="showNextSentence($event)">
    <div title>{{data.title}}</div>
    <div #textWrapper text-wrapper>
      <div text (click)="showNextSentence($event)">
        <span *ngFor="let sentence of sentences; let i = index" (click)="showNextSentence($event)">
          <span *ngIf="i <= visibleSentenceIndex && i > hiddenSentenceIndex">{{sentence}}</span>
          <br *ngIf="i <= visibleSentenceIndex && i > hiddenSentenceIndex && sentence.endsWith('\n')" (click)="showNextSentence($event)"/>
        </span>
      </div>
    </div>
    <div final *ngIf="visibleSentenceIndex == sentences?.length" (click)="showNextSentence($event)">
      Финальные заставки
    </div>
  </div>
  <div starter *ngIf="!started" (click)="started = true; showNextSentence($event)">
    <div (click)="showNextSentence($event)">
      Включи режим "не беспокоить" и запускай запись экрана с микрофоном
    </div>
    <ion-button (click)="started = true">Поехали</ion-button>
  </div>
  <div panel *ngIf="started">
    <div remains (click)="showNextSentence($event)">
      Осталось предложений <div (click)="showNextSentence($event)">{{sentences?.length - visibleSentenceIndex}}</div>
    </div>
    <ion-button restart (click)="restart()">Начать с начала</ion-button>
    <ion-button back (click)="location.back()" color="secondary">Закончить</ion-button>
  </div>
</ion-content>
