<ion-content (click)="showNextSentence($event)">
  <div story (click)="showNextSentence($event)">
    <div title>{{data.title}}</div>
    <div #textWrapper text-wrapper>
      <div hider></div>
      <div text>
        <span *ngFor="let sentence of sentences; let i = index">
          <span *ngIf="i <= visibleSentenceIndex && i > hiddenSentenceIndex">{{sentence}}</span>
          <br *ngIf="i <= visibleSentenceIndex && i > hiddenSentenceIndex && sentence == '\n'"/>
        </span>
      </div>
    </div>
    <div final *ngIf="visibleSentenceIndex == sentences.length">
      Финальные заставки
    </div>
  </div>
  <div starter *ngIf="!started" (click)="started = true">
    <div (click)="showNextSentence($event)">
      Запускай запись экрана с микрофоном
    </div>
    <ion-button (click)="started = true">Поехали</ion-button>
  </div>
  <div panel *ngIf="started">
    <div remains (click)="showNextSentence($event)">
      Осталось предложений <div (click)="showNextSentence($event)">{{sentences.length - visibleSentenceIndex}}</div>
    </div>
    <ion-button restart (click)="restart()">Начать с начала</ion-button>
    <ion-button back (click)="location.back()" color="secondary">Закончить</ion-button>
  </div>
</ion-content>
