<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      StoryTeller
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input placeholder="Заголовок" title [(ngModel)]="data.title"></ion-input>
    </ion-item>
    <ion-textarea text placeholder="Полный текст истории" [(ngModel)]="data.text" [autoGrow]="true"></ion-textarea>
    <div style="text-align: center">
      <ion-button [disabled]="!data.title || !data.text" routerLink="/story-lines">По строкам</ion-button>
      <br>
      <ion-button [disabled]="!data.title || !data.text" routerLink="/story" color="secondary">По предложениям</ion-button>
    </div>
  </ion-list>
</ion-content>
